extends layout
head 
  title Inventory Application

block content
  header 
    div.links 
      a(href="/") Our Menu
      a(href="./story") Our Story
    div.logo
      img.logo(src="./images/title.svg", alt="Logo")
    div.recipes-address
      div.address
        p 119 Tanglewood Lane 
        p Gulfport, MS 39503
      a.recipes(href='./addNew') Add new product
  section.menu-title
    div 
      h1 Our menu
      p Our chefs have designed a variety of nutritious, gourmet dishes for you to relish.
  section.gallery 
    if products
      each product in products
        div.productContainer
          img.productImage(src=product.product_image, alt=product.product_name)
          div.productNamePriceBox 
            p.productName #{product.product_name}
            div.productPrice 
              p #{product.product_price}
          p.productDescription #{product.product_description}
          a.recipes.editLink(href=`./edit/${product._id}`) Edit
          form(method="post", action=`/edit/${product._id}?_method=DELETE`)
            input(type="hidden", name="_method", value="DELETE")
            button(type="submit") Delete
    else
      p No products found
  footer 
    div.icons-footer-left
      img.logo(src="https://assets.website-files.com/62b03a7e084ea567885272c1/62b195f3d08db6cdb97ac5e1_shape-07.svg", alt="icon")
    div.personal-link
      p Designed and developed by 
      a.recipes(href="https://victoriakapelush.com" target='_blank') Victoria Kapelush
    div 
      img.logo(src="https://assets.website-files.com/62b03a7e084ea567885272c1/62b19709084a2a4746a326da_29%20(2).svg", alt="icon2")
